@media screen and (max-width: 95.600px){
   .p{
     margin-left:60%;
   }

   .pa{
     margin-left:60px;
   }

   .pb{
     width:267px;
   }

   .pc{
    margin:auto;
    width:239%;
   }

   .pd{
    width:97%;
    margin-left:199px;
   }

  .pe{
   width:97%;
   margin-left:199px;
  }

   .pj{
      margin-left:23%;
   }

.pf{
   width:51%;
   margin-left:46%;
}

.pg{
   margin-left:40%;
}

.ph{
   width:240%;
}

.pi{
   margin-left:53px;
 }
}
