@media {
   .p{
     margin-left:60%;
   }

   .pa{
     margin-left:60px;
   }

   .pb{
     width:267px;
   }

   .pc{
    margin:auto;
    width:239%;
   }

   .pd{
    width:97%;
    margin-left:199px;
   }

  .pe{
   width:97%;
   margin-left:199px;
  }
