/* Base styles */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.col-6 {
    flex: 1 1 100%;
    box-sizing: border-box;
}

.mt-5 {
    margin-top: 3rem;
}

.p-5 {
    padding: 3rem;
}

/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
    .col-6 {
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 992px) {
    .col-6 {
        flex: 1 1 50%;
    }
}

/* Specific styling for mobile screens */
@media screen and (max-width: 768px) {
    
    .sa {
        padding: 2rem !important;
        flex: 0 0 auto;
        width: 100%;
    }
    .container {
        padding: 1rem;
    }
    .row {
        flex-direction: column;
    }
    .col-6 {
        padding: 1rem;
    }
    img {
        width: 100%;
    }
}
