@media screen and (max-width: 768px) {
    .sa {
        padding: 2rem !important;
        flex: 0 0 auto;
        width: 100%;
    }

    .p-5 {
        padding: 1rem !important;
    }

    .container {
        padding: 1rem;
    }

    .row {
        flex-direction: column;
    }

    .col-6 {
        padding: 1rem;
    }

    h1 > element.style {
    margin: auto;
    width: 40rem;
}

    .mb-5 {
        margin: auto;
        max-width: 100%; /* Adjust to ensure proper centering */
    }

    img {
        width: 50rem; /* Ensure the image fits within its container */
    }

    
}
