@media screen and (max-width: 768px) {
    .sa {
        padding: 2rem !important;
        flex: 0 0 auto;
        width: 100%;
    }

     .container {
        padding: 1rem;
    }
    .row {
        flex-direction: column;
    }
    .col-6 {
        padding: 1rem;
    }
    img {
        width: 200%;
    }
}
